[access]
	inheritFrom = trusty
[submit]
	mergeContent = false
	action = fast forward only
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group mdb/android-security-core
[plugin "find-owners"]
	rejectErrorInOwners = false
[plugin "uploadvalidator"]
	blockedContentTypeWhitelist = false
	maxPathLength = 0
	rejectDuplicatePathnames = false
	rejectDuplicatePathnamesLocale = en
	rejectSubmodule = false
	rejectSymlink = false
	rejectWindowsLineEndings = false
